html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

h1{
    text-align: center;
}

#social {
  margin-top: auto;
  text-align: center;
  padding: 20px;
}

/*whatsapp is the class to the <a> element and the img needs to be selected*/
.whatsapp img{
    width: 32px;
    height: 32px;
    
}

.bi-linkedin{
    width: 32px;
    height: 32px;
    background-color: transparent;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2.8vw;
    color: rgb(0, 0, 0);
    margin: 0px 5px 0px 5px;
    transition: 0.5s;
}

.bi-linkedin:hover{
    color: #11c2e5;
}

.social{
    width: 32px;
    height: 32px;
    background-color: transparent;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2.8vw;
    color: rgb(0, 0, 0);
    margin: 0px 5px 0px 5px;
    transition: 0.5s;
}

.social:hover {
  color: #11c2e5;
}