html, body {  /* background image*/
  height: 100%;
  margin: 0;
  background: #2A7B9B;
  background: -webkit-linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  background: -moz-linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2A7B9B", endColorstr="#EDDD53", GradientType=1);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}


h1{
  text-align: center;
  font-family: monospace;
  font-size: 36px;
  font-weight: bold;
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ...existing code... */

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/* ...existing code... */


h2{
  text-align: center;
  font-family: monospace;
}

h3{
  text-align: center;
  font-family: monospace;
}

h4{
  text-align: center;
  font-family: monospace;
  
}
p{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#social {
  margin-top: auto;
  text-align: center;
  padding: 20px;
}

.profile_image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_image img{
  
  width: 250px;
  height: 250px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  padding: 20px;

}

/*whatsapp is the class to the <a> element and the img needs to be selected*/
.bi-whatsapp{
    width: 32px;
    height: 32px;
    background-color: transparent;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2.8vw;
    color: rgb(0, 0, 0);
    margin: 0px 5px 0px 5px;
    transition: 0.5s;
}

.bi-whatsapp{
  font-size: 5vw;
}

.bi-whatsapp:hover{
  color: #59dd2d;
}

.bi-linkedin{
    width: 32px;
    height: 32px;
    background-color: transparent;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2.8vw;
    color: rgb(0, 0, 0);
    margin: 0px 5px 0px 5px;
    transition: 0.5s;
}

/* hover is a pseudo class */

.bi-linkedin:hover{
    color: #2e8dec;

}

.social{
    width: 32px;
    height: 32px;
    background-color: transparent;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2.8vw;
    color: rgb(0, 0, 0);
    margin: 0px 5px 0px 5px;
    transition: 0.5s;
}

.social:hover {
  color: #ffffff;
}

footer{
   margin-top: auto;


}

.tracking-in-contract h1{
	-webkit-animation: tracking-in-contract 0.10s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.10s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

