html, body {  /* background image*/
  height: 100%;
  margin: 0;
  background: #2A7B9B;
  background: -webkit-linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  background: -moz-linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2A7B9B", endColorstr="#EDDD53", GradientType=1);
}

body {
  display: flex;
  flex-direction: column;
}



h1{
    text-align: center;
    font-family: monospace;

}

h2{
  text-align: center;
  font-family: monospace;
}

h3{
  text-align: center;
  font-family: monospace;
}

h4{
  text-align: center;
  font-family: monospace;
  
}

#social {
  margin-top: auto;
  text-align: center;
  padding: 20px;
}

.profile_whatsapp{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_whatsapp img{
  
  width: 150px;
  height: 150px;
  display: block

}

/*whatsapp is the class to the <a> element and the img needs to be selected*/
.bi-whatsapp{
    width: 32px;
    height: 32px;
    background-color: transparent;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2.8vw;
    color: rgb(0, 0, 0);
    margin: 0px 5px 0px 5px;
    transition: 0.5s;
}

.bi-whatsapp:hover{
  color: #ffffff;
}

.bi-linkedin{
    width: 32px;
    height: 32px;
    background-color: transparent;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2.8vw;
    color: rgb(0, 0, 0);
    margin: 0px 5px 0px 5px;
    transition: 0.5s;
}

/* hover is a pseudo class */

.bi-linkedin:hover{
    color: #ffffff;
}

.social{
    width: 32px;
    height: 32px;
    background-color: transparent;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2.8vw;
    color: rgb(0, 0, 0);
    margin: 0px 5px 0px 5px;
    transition: 0.5s;
}

.social:hover {
  color: #ffffff;
}

